@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;

}

.form {
  width: 175px;
  margin: 0 auto;
}

.form-input {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: block;
  margin-bottom: 12px;
  padding: 12px 16px;
  border: 1px solid #ccc;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.hex {
  letter-spacing: 3px;
}

.rgb {
  font-size: 14px;
}